body {
	margin: 0px;
	padding: 0px;
	background-color: rgb(219, 212, 187); 
	color: rgb(242, 238, 230); 
	font-family: 'Nobile', sans-serif;
}




.d1 {

	height: 400px;
	background-color: rgb(242, 238, 230); 
	border: 2px solid #000000;
	margin-top: 0px;
	margin-bottom: 50px;
}







/*accent color rgb(244, 1, 3); */


.navbar-default {
	background-color: rgb(79, 76, 63);
	border-right: 1px solid rgb(79, 76, 63); 
	border-left: 1px solid rgb(79, 76, 63);
	border-radius: 0px;
	margin-bottom: 10px;
}

li {
    
    font-size: 1.2em;
    color: rgb(242, 238, 230); 
}

.side-banner {
	height: 400px;
	text-align: center;
	background-color: rgb(79, 76, 63);	
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;

}

#mobile-brand {
	height: 50px;
	margin: -16px;
    margin-left: -16px;
}


.brand {
	width: 100%;
	
}

.sbanner-head {

	background-color: #000000;
	border-bottom: 1px solid #000000;
	margin-left: -15px;
	margin-right: -15px; 
	
}
.sbanner-list {
	margin-left: -40px;
	padding-top: 25px;
	list-style-type: none;
	
	

}

.sbanner-item {
	
	font-size: 1.3em;

}


div ul.navbar-nav li a.nav-link {
     color: rgb(242, 238, 230);
}

div ul.navbar-nav li a.nav-link:hover {
    color: #FFFFFF;
}