html {
    position: relative;
    min-height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: rgb(219, 212, 187); 
	color: rgb(79, 76, 63);
	font-family: 'Nobile', sans-serif;
   overflow-x: hidden;

}

@font-face {
  font-family: 'Quartzo';
  src: url(QUARTZO.ttf);
}

p {
	font-size: 1.4em;
	text-align: center;
	margin-top: 15px;
	margin-left: 10%;
	margin-right: 10%;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(79, 76, 63, 0), rgba(79, 76, 63, 0.75), rgba(79, 76, 63, 0));
    margin-top: 0px;
}


blockquote {
  background: rgb(219, 212, 187);
  border-left: 1px solid rgb(79, 76, 63);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201C""\201C""\201C";
}
blockquote:before {
  color: rgb(79, 76, 63);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


/*NAV STYLES*/
.navbar-default {

	background-color: rgb(79, 76, 63);
	color: rgb(219, 212, 187);
	border: 1px solid rgb(79, 76, 63); 

	border-radius: 0px;
	margin-bottom: 0px;
}

.dropdown-menu {
	background-color: rgb(79, 76, 63);
}

.dropdown-menu > li:hover > a {
	background-color: rgb(79, 76, 63);
}


#mobile-brand {
	max-height: 50px;
	margin-top: -15px;
	margin-left: -22px;

}

@media (max-width: 768px) {
	.navbar-collapse {
        border-top: 1px solid #000 !important;
    }

    .navbar-default .navbar-toggle {
    	border: 2px solid #FFFFFF;
	}

	.navbar-default .navbar-toggle:hover {
    	background-color: orange;
	}	


	.navbar-default .navbar-toggle .icon-bar {
    	background-color: #FFFFFF;
	}
}



div ul.navbar-nav li a.nav-link {
     color: rgb(242, 238, 230);
}

div ul.navbar-nav li a.nav-link:hover {
    color: #FFFFFF;
    
}




.testimonial {
	text-align: center;
}



.banner {
	text-align: center;
	font-size: 5.5vw;
	font-family: 'Quartzo';
	margin-bottom: 0px;

}

.team-banner {
	margin-top: 30px;
	
}



.customer {
	color: rgba(79, 76, 63, .4);
}

.team-pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	border: 2px solid rgb(79, 76, 63);
	border-radius: 10px;

}



/*CONTACT FORM*/

.contact {
	margin-top: 20px;
	text-align: center;
}

#contact-form {
	color: rgb(219, 212, 187);
	background-color: rgb(79, 76, 63);
	border: 2px solid rgb(79, 76, 63);
	border-radius: 20px;
	font-size: 1.2em;
	text-align: center;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 0px;
}

.form, .form-btn {
	background-color: rgb(219, 212, 187); 
	color: rgb(79, 76, 63);
	border: 2px solid rgb(79, 76, 63);
	border-radius: 10px;
	width: 80%;
	padding: 5px;
	margin-bottom: 10px;
}

.form-btn {

	max-width: 20%;
	padding-top: 10px;
	margin-bottom: 0px;
}

.form-btn:hover {
	color: orange;
	border: 2px solid orange;
	transition: color 0.5s ease;
}

.email-pic {
	max-width: 80%;
	margin-top: 40px;
}

/*PRODUCT STYLES*/
.prod-head {
	font-size: 4vw;
}

@media (max-width: 480px) {
	.prod-head {
		font-size: 1.2em;
	}
}

.prod-pic {
	display: block;
	max-width: 80%;
	margin: 20px auto;

	border: 2px solid rgb(79, 76, 63);
	border-radius: 20px;

} 

.prod-row {

	background-color: rgb(219, 212, 187); 

}

/*LIGHTBOX STYLE*/

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7); 
    text-align:center;
}

#lightbox p {
    text-align:right; 
    color:#fff; 
    margin-right:20px; 
    font-size:12px; 
}

#lightbox img {
	max-width: 80%;
}


/*SITE MAP STYLES*/
.site-list {

	list-style: none;
	font-family: Quartzo;
	
	font-size: 2em;
	color: rgb(79, 76, 63);
	padding: 0px;
	text-align: center;

}

.site-list > li {
	border: 2px solid rgb(79, 76, 63);
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 40%;
	margin-top: 40px;


}

.site-list > li > a {
	color: rgb(79, 76, 63);
}

.site-list > li:hover {
	background-color: rgb(79, 76, 63);
	border: 2px solid orange;
}

.site-list > li:hover > a {
	color: rgb(219, 212, 187); 
	background-color: rgb(79, 76, 63);
}











